<div id="<%= dom_id controversy %>">
  <p>
    <strong>Name:</strong>
    <%= controversy.name %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= controversy.text %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= controversy.slug %>
  </p>

</div>
