<% content_for :title, 'Fragments' %>

<%= render 'fragments/list', fragments: @fragments %>

<article class="border-top border-bottom py-4">
  <h2><%= link_to "Ajouter un fragment", 
                  new_controversy_fragment_path %></h2>
</article>
