<footer class="container-fluid mt-5 py-4">
  <%= link_to root_path do %>
    <%= image_tag 'logo-blanc.svg', alt: 'Controverser' %>
  <% end %>

  <ul class="mt-5 mb-0 list-unstyled">
    <li>Mentions légales</li>
    <li>Conditions d’utilisation</li>
    <li>
      Un 
      <a href="https://github.com/noesya/controverser" target="_blank" rel="noreferrer">
      outil libre
      </a>
      produit par 
      <a href="https://www.noesya.coop" target="_blank" rel="noreferrer">
        la coopérative noesya
      </a>
    </li>
  </ul>
</footer>