<footer class="container-fluid mt-5 py-5">
  <%= link_to root_path do %>
    <%= image_tag 'logo-blanc.svg', alt: 'Controverser' %>
  <% end %>

  <ul class="mt-5 list-unstyled">
    <li>Mentions légales</li>
    <li>Conditions d’utilisationn</li>
    <li>Un outil libre produit par noesya</li>
  </ul>
</footer>